<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Auth0.Core" version="7.16.0" targetFramework="net48" />
  <package id="Auth0.ManagementApi" version="7.16.0" targetFramework="net48" />
  <package id="cef.redist.x64" version="102.0.10" targetFramework="net48" />
  <package id="cef.redist.x86" version="102.0.10" targetFramework="net48" />
  <package id="CefSharp.Common" version="102.0.100" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="102.0.100" targetFramework="net48" />
  <package id="dot-net-transitions" version="1.2.1.0" targetFramework="net48" />
  <package id="Google.Apis" version="1.57.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.57.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.57.0" targetFramework="net48" />
  <package id="Google.Apis.Drive.v3" version="1.57.0.2684" targetFramework="net48" />
  <package id="jose-jwt" version="2.5.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Octokit" version="0.52.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
</packages>