<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Auth0.Core" version="7.16.0" targetFramework="net48" />
  <package id="Auth0.ManagementApi" version="7.16.0" targetFramework="net48" />
  <package id="cef.redist.x64" version="102.0.10" targetFramework="net48" />
  <package id="cef.redist.x86" version="102.0.10" targetFramework="net48" />
  <package id="CefSharp.Common" version="102.0.100" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="102.0.100" targetFramework="net48" />
  <package id="dot-net-transitions" version="1.2.1.0" targetFramework="net48" />
  <package id="Google.Apis" version="1.57.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.57.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.57.0" targetFramework="net48" />
  <package id="Google.Apis.Drive.v3" version="1.57.0.2684" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="PagedControl" version="2.2.0" targetFramework="net48" />
  <package id="TabControl" version="2.1.2" targetFramework="net48" />
</packages>